
:root{
    --primary-color:#008080;
    --padding:20px;
    --border-radius:5px;
}
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    width:100vw;
}

header{
    background-color:var(--primary-color);
    padding: var(--padding);
    color:#fff;
}

header h1{
    font-size: 36px;
}

main{
    min-height: 84vh ;
    padding: var(--padding);
    min-width: 800px;
    margin: 0 auto;
}
main form{
    display: flex;
    justify-content: center;
}
form input[type="text"],button[type="submit"]{
    border:none;
    font-size: 16px;
    font-weight: 500;
    border-radius: var(--border-radius);
    padding: calc(var(--padding)/2);
}

form input[type="text"]{
    flex-grow: 0.5;
}

form button[type="submit"]{
    background-color: var(--primary-color);
    color:#fff;
    margin-left: 10px;
    cursor:pointer;
}

footer{
    background-color: var(--primary-color);
    color:#fff;
    padding: var(--border-radius);
    text-align: center;
    font-size: 18px;
    position: fixed;
    width:100%;
}

